html
	head
		title <%= data.name %>
		<% if(data.dependencies.indexOf('bootstrap') !== -1) { %>
		link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		<% } %>
		<% if(data.dependencies.indexOf('fontawesome') !== -1) { %>
		link(href="bower_components/fontawesome/css/font-awesome.min.css", rel="stylesheet")
		<% } %>
		link(href="css/main.css", rel="stylesheet")
	body
		h1 Welcome to <%= data.name %> !
		p Project informations:
			span.
				<% print(JSON.stringify(data)); %>
		<% if(data.dependencies.indexOf('jquery') !== -1) { %>
		script(src="bower_components/jquery/dist/jquery.min.js")
		<% } %>
		<% if(data.dependencies.indexOf('angular') !== -1) { %>
		script(src="bower_components/angular/angular.min.js")
		<% } %>
		<% if(data.dependencies.indexOf('bootstrap') !== -1) { %>
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		<% } %>
		script(src="js/main.js")
		script(src="//localhost:35729/livereload.js")
